@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  background-image: url("../images/hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  min-height: 485px;
  position: relative;
  background-color: #808080;
}

.hero::after {
  content: "";
  background-image: url("../images/under_background_logo.png");
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

/* header */

.page-header {
  background-color: #ffffff;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 1060px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 168px;
  width: 500px;
}

.navigation-link-favourites {
  position: relative;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-width: 20px;
  height: 20px;
  top: 10px;
  left: 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  border-radius: 100vh;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);
}

.navigation-link:hover {
  background-color: #82b3d3;
}

.navigation-link:focus {
  outline: 4px solid #82b3d3;
  outline-offset: -4px;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  width: 63px;
  height: 0;
  border: 2px #756257 solid;
  bottom: -2px;
}

.navigation-catalog-link-current::before {
  content: "";
  position: absolute;
  width: 89px;
  height: 0;
  border: 2px #756257 solid;
  bottom: -2px;
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
  margin-right: 23px;
  width: 88px;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 24px;

}

.navigation-user .navigation-item {
  width: 44px;
}

.navigation-link {
  position: relative;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  padding: 20px 16px;
  display: block;
  line-height: 24px;
  font-size: 20px;
}

.navigation-link-button {
  padding: 8px 34px;
  display: inline-block;
  width: 92px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-button-container {
  margin: auto 0;
}

.page-main-container {
  width: 1200px;
  margin: 0 auto;
}

.hero-logo {
  display: block;
  padding: 51px 0;
  margin: 0 auto;
}

/* advantages */

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  list-style-type: none;
}

.advantages-sublist {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.advantages-sublist-up {
  width: 1160px;
  min-height: 123px;
  margin-bottom: 21px;
  padding: 69px 20px;
}

.services-sublist {
  margin: 0;
  width: 1160px;
  min-height: 118px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 64px 20px;
}

.services-subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.advantages-subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

.advantages-subtitle-up {
  padding-bottom: 25px;
}

.advantages-subdescription {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
}

.services-subdescription {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  list-style-type: none;
  position: relative;
}

.services-item {
  background-color: #82b3d3;
  width: 400px;
  min-height: 385px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
}

.services-item:nth-child(odd) {
  background-color: rgba(130.52, 179.31, 211.18, 0.12);
}

.services-item:nth-child(even) {
  background-color: #ffffff;
}

.services-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 183px 85px 9px;
  align-items: center;
  gap: 30px;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-item {
  background-color: #82b3d3;
  width: 400px;
  min-height: 385px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
  display: flex;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(130.52, 179.31, 211.18, 0.12);
}

.advantages-item:nth-child(even) {
  background-color: rgba(130.52, 179.31, 211.18, 0.20);
}

.services-item-town {
  color: #ffffff;
  width: 100%;
  display: flex;
}

.advantages-list .advantages-item-bridge,
.advantages-list .advantages-item-town {
  color: #ffffff;
  width: 100%;
  display: flex;
  background-color: #82b3d3;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-title::after {
  content: " ";
  display: block;
  margin: 30px auto 0;
  width: 60px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages-title-light::after {
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.advantages-description {
  margin: 0;
  margin-top: 30px;
}

.advantages-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 80px;
  align-items: center;
}

.services-container-house::before {
  background-image: url("../images/house.svg");
  width: 75px;
  height: 72px;
  content: "";
  position: absolute;
  top: 83px;
}

.services-container-food::before {
  background-image: url("../images/food.svg");
  width: 75px;
  height: 70px;
  content: "";
  position: absolute;
  top: 83px;
}

.services-container-souvenirs::before {
  background-image: url("../images/souvenirs.svg");
  width: 65px;
  height: 76px;
  content: "";
  position: absolute;
  top: 79px;
}

.services-description {
  margin: 0;
}

/* search */

.search {
  text-align: center;
  background-color: #ffffff;
  width: 1200px;
  min-height: 406px;
  align-items: center;
}

.search-container {
  padding: 96px 300px;
}

.search-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding-bottom: 54px;
}

/* newsletter */

.newsletter {
  margin: 0;
  padding: 0;
  align-items: center;
  width: 1200px;
  min-height: 311px;
  text-align: center;
  padding-bottom: 104px;
}

.newsletter-homepage {
  background-image: url("../images/subscribe.jpg");
  width: 100%;
  min-height: 310.86px;
  background-repeat: no-repeat;
  padding-bottom: 104px;
  background-size: cover;
  background-color: #808080;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding-top: 96px;
  padding-bottom: 20px;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding-bottom: 54px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-input {
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #f2f2f2;
  padding-left: 20px;
  width: 432px;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
}

.newsletter-title-homepage {
  color: #ffffff;
}

.newsletter-description-homepage {
  color: #ffffff;
}

.newsletter-button {
  padding: 8px 50px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
  width: 232px;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus {
  background-color: #68a2ca;
}

.newsletter-button:active {
  background-color: #82b3d3;
}

.newsletter-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* footer */

.page-footer {
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  justify-content: center;
  width: 1200px;
  min-height: 40px;
  padding-top: 45px;
  padding-bottom: 35px;
}

/* social */

.social {
  display: flex;
  width: 1060px;
  min-height: 50px;
  justify-content: space-between;
}

.social-list {
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  width: 142px;
  min-height: 43px;
  margin: 0;
}

.social-media {
  margin: 0;
  padding: 0;
  display: flex;
  width: 184px;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
}

.social-media-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 47px;
  min-height: 40px;
  position: relative;
}

.social-link {
  height: 100%;
  width: 100%;
}

.social-icon {
  position: absolute;
  top: -12px;
  right: 0;
  bottom: 0;
  left: 2px;
  margin: auto;
  fill: #83b3d3;
}

.social-icon:hover {
  fill: #68a2ca;
}

.social-icon:focus {
  fill: #68a2ca;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.30);
}

.social-item-image {
  display: flex;
  width: 157px;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
}

/* contacts */
.contacts {
  width: 330px;
  display: flex;
  flex-direction: column;
}

.contacts-container{
  display: flex;
  flex-direction: column;
}

.contacts-link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  min-width: 331px;
}

.contacts-link:hover {
  color: #756157;
}

.contacts-link:focus {
  color: #756157;
}

.contacts-link:active {
  color: rgba(117, 97, 87, 0.30);
}

.logo-academy {
  position: relative;
  padding-top: 3px;
}

.logo-academy-icon {
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: #000000;
}

.logo-academy-icon:hover {
  fill: #756157;
}

.logo-academy-icon:focus {
  fill: #756157;
}

.logo-academy-icon:active {
  fill: rgba(117, 97, 87, 0.30);
  ;
}

/* catalog-page */

.main-inner {
  background-color: #ffffff;
}

/* page-catalog-filter */

.filter-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
  list-style-type: none;
  margin-bottom: 34px;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  color: #ffffff;
  list-style-type: none;
}

.filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.price-container {
  display: flex;
  gap: 2px;
}

.price-input-form {
  width: 121px;
  height: 46px;
  margin-bottom: 44px;
  border: none;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}

.price-input-form:hover {
  background-color: #e6e6e6;
}

.price-input-form:focus {
  background-color: #e6e6e6;
  outline: 3px #83b3d3 solid;
  outline-offset: -3px;
}

.price-input-from {
  border-radius: 4px 0 0 4px;
}

.price-input-before {
  border-radius: 0 4px 4px 0;
}

.filter-item-price {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  font-weight: 700;
}

.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  margin-top: 35px;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap:wrap;
}

.breadcrumbs-item {
  position: relative;
  display: flex;
  align-items: center;
}

.breadcrumbs-link-house {
  background-image: url("../images/breadcrumbs_icons.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  display: block;
}

.breadcrumbs-item-hostel::before {
  display: block;
  background-image: url("../images/breadcrumbs_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 7px;
  height: 10px;
  content: "";
  margin: 0 10px;
}

.filter-form {
  display: flex;
  width: 1060px;
  min-height: 49px;
}

.filter {
  background-image: url("../images/header_image.jpg");
  width: 1060px;
  min-height: 339px;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  color: #ffffff;
  padding: 0 70px;
  padding-bottom: 70px;
  background-size: cover;
  background-color: #808080;
}

.filter-container {
  display: flex;
  flex-direction: row;
  width: 1200px;
  min-height: 160px;
}

.filter-group {
  margin: 0;
  padding: 0;
  width: 150px;
  min-height: 157px;
  border: none;
}

.filter-group-infrastructure {
  margin-right: 67px;
}

.filter-group-house {
  margin-right: 150px;
}

.filter-group-price {
  width: 549px;
  min-height: 160px;
  margin-right: 70px;
}

.filter-list {
  margin: 0;
  padding: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.range-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.toggle-min {
  position: absolute;
  right: -1px;
  top: -8px;
}

.toggle-max {
  position: absolute;
  left: -1px;
  top: -8px;
}

.rang-toggle {
  width: 20px;
  height: 20px;
}

.button-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-filter-submit {
  padding: 8px 50px;
  background-color: #82b3d3;
  margin-bottom: 32px;
}

.button-filter-submit:hover {
  background-color: #68a2ca;
}

.button-filter-submit:focus {
  background-color: #68a2ca;
}

.button-filter-submit:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.button-filter-submit:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-filter-reset {
  padding: 8px 57px;
  background: none;
}

.button-filter-reset:hover {
  color: rgba(255, 255, 255, 0.60);
  background: none;
}

.button-filter-reset:focus {
  outline: 3px #83b3d3 solid;
  outline-offset: -3px;
  background: none;
}

.button-filter-reset:active {
  color: rgba(255, 255, 255, 0.30);
  background: none;
}

.button-filter-reset:disabled {
  color: rgba(255, 255, 255, 0.10);
}

.page-container {
  display: flex;
  flex-direction: column;
}

/* control */

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

/* mark */

.control-mark {
  position: absolute;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  left: 0;
}

.control:hover {
  opacity: 0.6;
}

input:focus + .control-mark {
  outline: 3px #83B3D3 solid;
}

.control:active {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  background-color: #3f5e72;
  width: 12px;
  height: 2px;
  transform: rotate(-45deg);
  top: 9.7px;
  left: 6.3px;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  content: "";
  position: absolute;
  background-color: #3f5e72;
  width: 7px;
  height: 2px;
  transform: rotate(45deg);
  top: 11.7px;
  left: 3.5px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  background-color: #3f5e72;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

/* page-catalog-sorting */

.catalog-hotel-search {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 202px;
}

.select-control {
  color: #333333;
  width: 292px;
  text-align: left;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  appearance: none;
  background-image: url("../images/select_string.svg");
  background-repeat: no-repeat;
  background-position: right 18px top 18px;
  padding: 12px 35px 12px 17px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin-right: 69px;
}

.select-control:hover {
  outline: 2px #68a2ca solid;
  outline-offset: -2px;
}

.select-control:focus {
  outline: 2px #68a2ca solid;
  outline-offset: -2px;
}

.select-control:disabled {
  outline: 2px rgba(0, 0, 0, 0.30) solid;
  outline-offset: -2px;
  color: rgba(0, 0, 0, 0.30);
}

.button-small-icons {
  background-image: url("../images/small_icons.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.button-big-cards {
  background-image: url("../images/big_cards.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px #e5e5e5 solid;
  border-radius: 4px;
  background-color: #ffffff;
}

.button-list {
  background-image: url("../images/list.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px #e5e5e5 solid;
  border-radius: 4px;
  background-color: #ffffff;
}

.page-sorting-container {
  display: flex;
  flex-direction: row;
  width: 1061px;
  min-height: 49px;
  margin: 0 auto;
  margin-bottom: 40px;
  align-items: center;
}

.catalog-location-list {
  display: flex;
  margin: 0;
  gap: 8px;
  list-style-type: none;
  padding: 0;
  width: 160px;
  flex-wrap: wrap;
}

.card-grid-togle {
  display: block;
  width: 44px;
  height: 44px;
}

.card-grid-togle:hover {
  border: 2px solid #000000;
}

.card-grid-togle:focus {
  border: 2px solid #68a2ca;
}

.card-grid-togle:active {
  border: 2px solid #000000;
}

.card-grid-togle-current {
  border: 2px #000000 solid;
  border-radius: 4px;
  background-color: #ffffff;
  pointer-events: none;
}

.catalog-location-item:last-child .button {
  margin-right: 0;
}

.catalog-location-item {
  position: relative;
}

/* page-catalog-hotel */

.catalog-hotel-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: min-content auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 1060px;
  min-height: 896px;
  gap: 20px;
}

.catalog-card {
  display: grid;
border: 1px #e6e6e6 solid;
border-radius: 4px;
grid-template-columns: 140px 140px;
grid-template-rows: min-content min-content min-content min-content;
padding: 19px 19px;
gap: 16px 20px;
}

.catalog-card-link {
  text-decoration: none;
grid-column: 1/3;
grid-row: 1/2;
}

.catalog-card-image {
  margin-bottom: 16px;
  display: block;
}

.catalog-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.catalog-card-name {
  color: #333333;
margin: 0;
align-self: flex-start;
grid-column: 1/2;
}

.catalog-card-price {
  text-align: right;
color: #333333;
margin: 0;
}

.catalog-card-info {
  grid-column: 1/2;
  grid-row: 3/4;
  min-height: 20px;
  padding: 8px 0;
}

.catalog-card-favorites {
min-height: 36px;
background-color: #82b3d3;
}

.catalog-card-favorites:hover {
  background-color: #68a2ca;
}

.catalog-card-favorites:focus {
  background-color: #68a2ca;
}

.catalog-card-favorites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.catalog-card-infavorites {
  background-color: #7db54f;
}

.catalog-card-infavorites:hover {
  background-color: #6c9e42;
}

.catalog-card-infavorites:focus {
  background-color: #6c9e42;
}

.catalog-card-infavorites:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.30);
}

.catalog-card-star {
  background-image: url("../images/star_rating.svg");
  background-repeat: space no-repeat;
  height: 17px;
  margin: auto 0;
  grid-column: 1/2;
}

.catalog-card-star-1 {
  width: 18px;
}

.catalog-card-star-2 {
  width: 42px;
}

.catalog-card-star-3 {
  width: 66px;
}

.catalog-card-star-4 {
  width: 88px;
}

.catalog-card-star-5 {
  width: 112px;
}

.catalog-card-rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: right;
  background-color: #f2f2f2;
  margin: 0;
  padding: 8px 22px;
  border-radius: 4px;
}

/* pagination */

.pagination {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  width: 1060px;
  min-height: 60px;
  margin: 0 70px;
  gap: 8px;
  padding: 0;
  padding-top: 40px;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.pagination-link {
  display: block;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  padding: 12px;
  border-radius: 4px;
}

.pagination-item {
  text-align: center;
  min-width: 60px;
  height: 60px;
}

.pagination-link:hover:not(.pagination-link-current, .pagination-link-empty) {
  background-color: #68a2ca;
  outline: 1px #82b3d3 solid;
  outline-offset: -1px;
}

.pagination-link:focus:not(.pagination-link-current, .pagination-link-empty) {
  background-color: #68a2ca;
  outline: 1px #82b3d3 solid;
  outline-offset: -1px;
}

.pagination-link:active:not(.pagination-link-current, .pagination-link-empty) {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30)
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-empty {
  background-color: #ffffff;
  color: #000000;
}

/* newsletter-catalog */

.newsletter-title-catalog {
  color: #000000;
}

.newsletter-description-catalog {
  color: #333333;
}

/* modal */

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-closed {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  color: #000000;
}

.modal-auth {
  width: 577px;
}

.modal-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 23px;
  padding: 0;
}

.modal-close-button {
  position: absolute;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  right: 51px;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-cross {
  fill: #000000;
}

.modal-cross:hover {
  fill: #000000;
}

.modal-cross:active {
  fill: #000000;
  opacity: 0.3;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 64px;
  padding-right: 25px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.date-reserve {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 4px;
}

.calendar-form::after {
  content: " ";
  background-image: url("../images/icon_date.svg");
  opacity: 0.3;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  right: 0;
  margin-right: 20px;
}

.form-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  min-width: 375px;
  border: none;
  border-radius: 4px;
  padding: 12px 45px 12px 20px;
  background-color: #f2f2f2;
}

.form-field:hover {
  background-color: #e6e6e6;
}

.reserve-massage {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 155px;
}

.error-massage {
  margin-left: 155px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ff5757;
}

.modal-group-ages {
  display: flex;
  justify-content: space-between;
}

.modal-group-oldest {
  height: 48px;
  display: flex;
  align-items: center;
  width: 247px;
  margin: 0;
  padding: 0;
}

.modal-group-children {
  display: flex;
  width: 242px;
  height: 48px;
  margin: 0;
  padding: 0;
}

.age-reserve {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin-right: auto;
}

.tooltip-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 48px;
  margin-right: auto;
}

.add-button {
  width: 40px;
  height: 48px;
  background-color: #f2f2f2;
  padding: 14px 10px;
  border: none;
  cursor: pointer;
}

.minus-button {
  border-radius: 4px 0 0 4px;
}

.minus-button::after {
  display: flex;
  content: "";
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  margin: 9px 3px;
}

.minus-button:hover::after {
  background-color: rgba(0, 0, 0, 1);
}

.minus-button:active::after {
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.3;
}

.number-field {
  width: 21px;
  height: 24px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  padding: 12px 5px;
  appearance: textfield;
  text-align: center;
}

.number-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
  visibility: hidden;
}

.plus-button {
  display: block;
  width: 40px;
  height: 48px;
  border-radius: 0 4px 4px 0;
}

.plus {
  fill: rgba(117, 97, 87, 0.3);
}

.plus:hover {
  fill: rgba(0, 0, 0, 1);
}

.plus:active {
  fill: rgba(0, 0, 0, 1);
  opacity: 0.3;
}

.tooltip-icon {
  position: relative;
}

.tooltip-button {
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #68a2ca;
  cursor: pointer;
}

.tooltip-massage {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  position: absolute;
  width: 216px;
  min-height: 103px;
  padding: 20px 20px 23px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  top: calc(100% + 15px);
  left: calc(50% - 128px);
  display: none;
}

.tooltip-massage::before {
  content: "";
  background-image: url("../images/tooltip_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 19px;
  height: 9px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-button:hover + .tooltip-massage,
.tooltip-button:focus + .tooltip-massage {
  display: block;
}

.modal-button {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 18px 77px;
  margin-top: 48px;
}

.modal-button:hover {
  background-color: #68a2ca;
  outline: none;
}

.modal-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  pointer-events: none;
}

.control:has(:disabled) {
  opacity: 0.6;
  pointer-events: none;
}

.catalog-sorting:disabled {
  opacity: 0.6;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: none;
}

.button:invalid {
  background-color: #ff5757;
}

.control:has(:invalid) {
  border: 2px solid #ff5757;
}

.catalog-sorting:invalid {
  border: 2px solid #ff5757;
}

.invalid {
  color: #ff5757;
}
